<?xml version="1.0"?>

<launch>

    <!-- <remap from='/$(env LIMO_NAMESPACE)/vrpn_client_node/$(env LIMO_NAMESPACE)/pose' to='/$(env LIMO_NAMESPACE)/mocap_pose'/>
    <include file='$(find limo_bringup)/launch/limo_start_minimal.launch'/>
    <include file='$(find vrpn_client_ros)/launch/limo.launch'/> -->
    <node pkg='summer_project' name='follow_path_QP' type='follow_path_QP.py' ns='$(env LIMO_NAMESPACE)' output='screen'/>
    <node pkg='summer_project' name='QP_node' type='QP_node.py' ns='$(env LIMO_NAMESPACE)' output='screen'/>
</launch>
